#wlcm {
    color: blue;
    height: 30px;
    text-align: center;
  }
.signinm {
    text-align: center;
}

.signin {
    outline: solid 1px black;
    display: flex;
    justify-content: center;
  }